<section id="add">  
  <form action="/" method="post">  
    <input type="text" name="uid" placeholder="Username">
    <input type="text" name="regid" placeholder="Regid">
    <input type="submit" value="Add">  
  </form>  
</section>  
  
<% @users.each do |user| %>
	<%= user.name %> / <%= user.registration_id %><br>
<% end %>