<h1>Update user</h1>

<form method="post" action="/<%= @user.id %>"> 
  <input type="text" name="uid" placeholder="Username" value="<%= @user.name %>">
  <input type="text" name="regid" placeholder="Regid" value="<%= @user.registration_id %>">
  <input type="hidden" name="_method" value="put">
  <button type="submit">Update</button>
</form>	
