<section id="add">  
  <form action="/" method="post">  
    <input type="text" name="uid" placeholder="Username">
    <input type="submit" value="Take Note!">  
  </form>  
</section>  
  
<% # display users %>  